<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.providerserver">
    <uses-permission android:name="android.permission.WRITE_USER_DICTIONARY" />
    <uses-permission android:name="android.permission.READ_USER_DICTIONARY" />

    <permission android:name="my.permissionRead"></permission>
    <permission android:name="my.permissionWrite"></permission>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.ProviderServer">
        <provider
            android:authorities="com.example.providerserver.provider"
            android:name=".ContentProviderDB"
            android:enabled="true"
            android:exported="true"
            android:forceUriPermissions="true"
            android:grantUriPermissions="true"
            android:readPermission="my.permissionRead"
            android:writePermission="my.permissionWrite">
        </provider>
        <activity android:name=".Registro"></activity>
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>